.rating {
  background: var(--highlight-bg);
  background: radial-gradient(
    at left bottom,
    var(--gradient-1),
    var(--gradient-2)
  );
  color: var(--highlight-text);
  font-weight: var(--extrabold-weight);
  border-radius: 1.6rem;
  padding: 1.2rem;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: var(--rating-text-shadow);
  display: flex;
  inline-size: 7rem;
}
