[data-theme] {
  background: var(--page-background);
  color: var(--text-colour);
  height: 100vh;
  font-size: var(--font-size-2);
}

[data-theme] a {
  color: var(--link-colour);
  text-decoration: underline 0.15rem var(--link-colour);
  transition: text-decoration-thickness 150ms, color 150ms;
}

[data-theme] a:hover,
[data-theme] a:focus {
  color: var(--link-interacted-colour);
  text-decoration-thickness: 0.5rem;
}
